* {
  font-family: "system-ui";
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "system-ui", sans-serif;
  background: url(bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  background-color: #3d5a87;
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: 0;
}

.topLinks {
  color: #c7cddd;
  font-size: 10px;
  margin: 0px;
  padding: 3px 5px 3px 5px;
}

.parentNavBar {
  line-height: 3rem;
  height: 3rem;
  width: 50rem;
  border: 4px solid;
  border-color: rgba(20, 41, 67, 0.9);
  background-color: rgba(20, 41, 67, 0.96);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navBar {
  line-height: 3rem;
  height: 3rem;
  width: 50rem;
  border: 4px solid;
  border-color: rgba(20, 41, 67, 0.9);
  background-color: rgba(20, 41, 67, 0.96);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navBarItem {
  color: #a1d2f1;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0px;
  text-decoration: none;
}

.navBarItem:hover {
  height: 1.8rem;
  color: white;
  background-color: #486881;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalLine {
  border-left: 1px solid #c4cad0;
  height: 10px;
}

.title {
  height: 8rem;
  width: 50rem;
  background-color: rgba(110, 104, 104, 0.285);
  padding: 18px 20px 10px 2rem;
  text-shadow: 2px 2px rgba(110, 104, 104, 12);
}

.titleText {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(255, 254, 253);
  letter-spacing: 4px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.logo {
  height: fit-content;
  margin-left: 20px;
  /* margin-right: 40px; */
}

.list {
  background-color: rgba(20, 41, 67, 0.9);
}

.justify-content-evenly {
  padding: 0px;
  margin: 0px;
}

.dataContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tile {
  margin-bottom: 1rem;
}

.listItem {
  height: 450px;
  width: 240px;
}

.listDescription {
  color: #f2f3f3;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
}

.listItemLink {
  color: #90b8d8;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: underline;
}

.bottom {
  background-color: rgba(20, 41, 67, 0.6);
  margin-top: 10px;
  width: 100vw;
  max-width: 50rem;
  line-height: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footerLinksDiv {
  display: flex;
  align-items: center;
  line-height: 2rem;
  height: 2rem;
}

.footerCopyright {
  color: #bcc9e3;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

.footerLinks {
  color: #e2e5e9;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: underline;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 800px) {
  .topBar {
    background-color: #3d5a87;
    width: auto;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .topLinks {
    color: #c7cddd;
    font-size: 1.5vw;
    /* margin: 0px;
    padding: 3px 5px 3px 5px; */
  }

  .parentNavBar {
    height: auto;
    width: auto;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
  }

  .navBar {
    line-height: 3vh;
    height: 5vh;
    width: 100vw;
    max-width: 50rem;
    border: 4px solid;
    border-color: rgba(20, 41, 67, 0.9);
    background-color: rgba(20, 41, 67, 0.96);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }

  .navBarItem {
    color: #a1d2f1;
    text-transform: uppercase;
    font-size: 2vw;
    padding-left: 6px;
    padding-right: 6px;
    letter-spacing: 0px;
    text-decoration: none;
  }

  .navBarItem:hover {
    height: 1.8rem;
    color: white;
    background-color: #486881;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .verticalLine {
    border-left: 1px solid #c4cad0;
    height: 10px;
  }

  .title {
    line-height: 3vh;
    height: 12vh;
    width: 100vw;
    background-color: rgba(110, 104, 104, 0.285);
    text-shadow: 2px 2px rgba(110, 104, 104, 12);
    white-space: normal;
  }

  .titleText {
    font-size: 4vw;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 254, 253);
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding: 0;
  }

  .logo {
    height: min-content;
  }

  .list {
    background-color: rgba(20, 41, 67, 0.9);
  }

  .justify-content-evenly {
    padding: 0px;
    margin: 0px;
  }

  .dataContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tile {
    margin-bottom: 1rem;
  }

  .listItem {
    height: auto;
    width: 80vw;
    margin-bottom: 4vh;
  }

  .listDescription {
    color: #f2f3f3;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .listItemLink {
    color: #90b8d8;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: underline;
  }

  .bottom {
    background-color: rgba(20, 41, 67, 1);
    width: 100vw;
    max-width: 50rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footerLinksDiv {
    display: flex;
    align-items: center;
  }

  .footerCopyright {
    color: #bcc9e3;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
  }

  .footerLinks {
    color: #e2e5e9;
    font-size: 10px;
    letter-spacing: 1px;
    text-decoration: underline;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
